extends Shared/homeLayout

block rightSide
    h1.blue-text
        span.header-icon.storage
        = controlPanelResource.Storage

    - var helpcenter = (config.get("helpcenter") || "")
    - var tenantExtraExist = (typeof tenantExtra == "object")
    - var customMode = (tenantExtraExist && tenantExtra.customMode)

    p!= controlPanelResource.StorageText + '&nbsp;'
        -if (helpcenter) {
        a.link.underline(href=controlPanelResource.format("StorageHelpCenterUrl", helpcenter), target="_blank")= controlPanelResource.StorageDetailedInstruction
        -}
    div.storageView.display-none
        div#storageBox.selectTypeStorageBox
            h2.blue-text.top-indent-big= controlPanelResource.StorageTitle
            p.gray-text!= controlPanelResource.format("StorageInstruction", "<a class=\"link underline instructionLink\" href=\"" + portalUrl + "/Management.aspx?type=9\" target=\"_blank\">", "</a>")

            div#storageForm
                div#storageSettingsBox

                div.middle-button-container
                    button#storageButton.connectBtn.button.green= controlPanelResource.ConnectButton
        

        div#CDNBox.selectTypeStorageBox
            h2.blue-text.top-indent-big= controlPanelResource.CDNTitle
            p.gray-text!= controlPanelResource.format("StorageInstruction", "<a class=\"link underline instructionLink\" href=\"" + portalUrl + "/Management.aspx?type=9\" target=\"_blank\">", "</a>")

            div#CDNForm
                div#CDNSettingsBox

                div.middle-button-container
                    button#CDNButton.connectBtn.button.green= controlPanelResource.ConnectButton

        -if(!customMode){
        div#encryptionBox.top-indent-big.display-none
            h2.blue-text
              span= controlPanelResource.EncryptionHeader
              -if (helpcenter) {
              a.info(href=controlPanelResource.format("EncryptionHelpCenterUrl", helpcenter), target="_blank")
              -}
              span.green-ticket.display-none= controlPanelResource.EncryptionStorageEncrypted.toLowerCase()

            p.gray-text!= controlPanelResource.format("EncryptionDescription", "<br/>")

            h2.attention-header
              span.attention-icon
              = controlPanelResource.AttentionBlockHeader
            p.attention-text!= controlPanelResource.format("EncryptionWarningMsg", "<br/>")
            p.attention-text
              b= controlPanelResource.EncryptionServicesWarningMsg
            -if (helpcenter) {
            p.attention-text!= controlPanelResource.format("EncryptionServicesInstruction", "<a class=\"link underline instructionLink\" href=\"" + controlPanelResource.format("EncryptionHelpCenterUrl", helpcenter) + "\" target=\"_blank\">", "</a>")
            -}

            div#encryptionForm
              div#encryptionSettingsNotify.checkBox
                button.icon
                span=controlPanelResource.EncryptionNotifyUsers
              div#encryptionSettingsAgreement.checkBox
                button.icon
                span=controlPanelResource.EncryptionServicesAgreement

              div.middle-button-container
                  button#encryptionButton.button.green

            div#encryptionConfirmDialog.popup
              div.popup-caption
                span.attention-icon
                = controlPanelResource.ConfirmationTitle
                div.popup-close &times;
              div.popup-body
                div.popup-content
                  div= controlPanelResource.EncryptionConfirmText
                  p= controlPanelResource.AreYouSureToContinue
            
                  div.big-button-container
                    button#encryptionConfirmButton.button.green.confirmation-ok= controlPanelResource.Ok
                    span.splitter-buttons
                    button.button.black.cancelbtn= controlPanelResource.Cancel
        -}
         div#quotaBox.top-indent-big
            h2.blue-text
              span= controlPanelResource.QuotaHeader
            p.gray-text!= controlPanelResource.format("QuotaDescription", "<br/>")
            table#linkedPortalsList.table-list.height32.display-none
              thead
                tr
                  th.portal-name
                    span= controlPanelResource.PortalName
                  th.used-memory
                    span= controlPanelResource.UsedMemory
                  th.memory-quota
                    span= controlPanelResource.MemoryQuota
                  th.edit-quota
              colgroup 
                col
                col(style="width: 32px;")
              tbody  

include consumerSettingsPartial

append bodyscripts
  script#sizeMappingFieldTmpl(type="text/x-jquery-tmpl")
      div.selectContainer.clear-fix
        div.selectBox(data-value= "${sizeName}")
          div.selectBoxValue
            | ${sizeName}
          div.selectBoxSwitch
          div.selectOptionsBox
            div.selectOptionsInnerBox.fullwidth
              | {{html options}}
        span.requiredErrorText= controlPanelResource.EmptyField
  script#linkedPortalTmpl(type="text/x-jquery-tmpl")
    tr(data-id="${tenantId}").portal-quota-info.border-bottom
      td.portal-name
        div
          a(href="${href}" target="_blank") ${domainName}
      td.used-memory(data="${usedSizeBytes}")
        span= "${usedSize}"
      td.memory-quota(data="${quotaBytes}")
        span= "${quota}"
        input.textBox.display-none(type="text")
      td.edit-quota
        a.button.black.edit-quota-btn= controlPanelResource.EditBtn
        a(style="display: none").button.black.save-quota-btn= controlPanelResource.SaveBtn
        div.selectOptionsBox(style="display: none")
          ul.selectOptionsInnerBox
            li.option
              a.option.edit-quota= controlPanelResource.EditQuota
            li.option
              a.option.no-quota= controlPanelResource.NoQuota
    tr(style="display: none", data-id="${tenantId}").form
      td.portal-name
      td.used-memory
      td.memory-quota.form
        input.textBox(type="text")
      td.edit-quota.form
         

  script#consumerSettingsTmpl(type="text/x-jquery-tmpl").
    <ul class="thirdSelectStorage">
      {{each storages}}
        <li>
          <div class="radioBox {{if !isSet}}disabled{{/if}}"  data-value="${id}" {{if dataFolderId}}title="${boxTitle}" {{/if}}>
            <button class="icon" type="button"></button>
            <span>${title}</span>
          </div>
        </li>
      {{/each}}
    </ul>

    {{each(i, item) storages}}
    {{if id == "S3"}}
    {{tmpl(Object.assign(item, {settingName: $data.settingName, regions: $data.regions, encryptionTypes: $data.encryptionTypes, encryptionMethods: $data.encryptionMethods})) "#consumerItemS3Tmpl"}}
    {{else}}
    {{tmpl(item) "#consumerItemBaseTmpl"}}
    {{/if}}
    {{/each}}

  script(type="text/javascript").
    $(function() {
      window.StorageView.init('#{portalUrl}');
     });
